* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  background-color: rgb(245, 96, 96);
}

/* header */
header {
  padding: 0.7em 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
header li {
  font-size: 22px;
  font-weight: 900;
  margin-left: 20px;
}
header a {
  color: aliceblue;
  text-decoration: none;
}

/* main */
main {
  padding: 0 10%;
  background-color: aliceblue;
}

/* footer */
footer {
  padding: 0.1em 0;
  margin: 1em 0;
  background-color: rgb(245, 96, 96);
  text-align: center;
  color: aliceblue;
  font-size: 16px;
}
footer p {
  margin: 0.5em 0;
}
footer a {
  color: aliceblue;
}