* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.centered {
  text-align: center;
}

/* body */
body {
  background-color: rgb(245, 96, 96);
}

/* header */
header {
  padding: 0.7em 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
header li {
  font-size: 22px;
  font-weight: 900;
  margin-left: 20px;
}
header a {
  color: aliceblue;
  text-decoration: none;
}

/* main */
main {
  padding: 0 10%;
  background-color: aliceblue;
  min-height: 75vh;
}

/* slideshow in home page */
.slideshow-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.slideshow {
  display: flex;
  width: fit-content; /* Will be set by JavaScript */
}
.slide {
  flex: 0 0 auto; /* Prevents flexbox from shrinking or growing the slide */
}
.slideshow img {
  width: 15vw; /* Each image takes up the full viewport width */
  height: auto;
  display: block;
}

/* footer */
footer {
  padding: 0.1em 0;
  margin: 1.2em 0;
  background-color: rgb(245, 96, 96);
  color: aliceblue;
  font-size: 16px;
}
footer p {
  margin: 0.5em 0;
}
footer a {
  color: aliceblue;
}